{% extends "base_console.html" %}
{% block title %}АСУ изготовления пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="main2.1.html">Заявки</a></li>
    <li><a href="main2.2.html">Пропуска</a></li>
    <li><a href="main2.3.html">Персоны</a></li>
{% endblock %}
{% block thead %}
    <th>№</th>
    <th>ФИО</th>
    <th>Паспорт</th>
    <th>Дата</th>
    <th>Срок действия</th>
    <th>Контактное лицо</th>
    <th>Телефон</th>
    <th>Должность</th>
    <th>Отдел</th>
    <th>Статус</th>
    <th>Создать пропуск</th>
    <th>Создать персону</th>
{% endblock %}

{% block trow %}

{% endblock %}
