{% extends "base_console.html" %}
{% block title %}АСУ изготовления пропусков{% endblock %}

{% block nav_brand %}Подсистема принятия заявок{% endblock %}
{% block navbar-menu %}
    <li><a href="main1.1.html">Заявки</a></li>
    <li class="active"><a href="main1.2.html">Отделы и Должности</a></li>
{% endblock %}
{% block thead %}
    <th>Отдел</th>
    <th>Руководитель отдела</th>
    <th>Должность</th>
    <th>ФИО сотрудника</th>
    <th>Телефон отдела</th>
{% endblock %}
{% block trow %}

{% endblock %}

  
