{% extends "base_console.html" %}
{% block title %}АСУ изготовления пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="main2.1.html">Заявки</a></li>
    <li><a href="main2.2.html">Пропуска</a></li>
    <li><a href="main2.3.html">Персоны</a></li>
{% endblock %}
{% block thead %}
    <th>ФИО</th>
    <th>Паспорт</th>
    <th>Должность</th>
    <th>Отдел</th>
    <th>Срок действия</th>
    <th>Активный доступ</th>
    <th>Редактировать</th>
    <th>Показать пропуск</th>
{% endblock %}
{% block trow %}
    <td align="center">
        <label class="checkbox">
            <input type="checkbox" value="active">
        </label>
    </td>
    <td><a class="btn btn-default" href="new_person.html" role="button">Редактировать</a></td>
    <td><a class="btn btn-default" href="new_permit.html" role="button">Показать пропуск</a></td>
{% endblock %}