{% extends "base_console.html" %}
{% block title%}АСУ изготовления пропусков{% endblock %}
 

{% block nav_brand %}Подсистема принятия заявок{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="main1.1.html">Заявки</a></li>
    <li><a href="main1.2.html">Отделы и Должности</a></li>
{% endblock %}
{% block butn-before-table %}
	<a class="btn btn-default" href="new_request.html" role="button">Добавить заявку</a>
{% endblock %}
{% block thead %}
    <th>№</th>
    <th>ФИО</th>
    <th>Паспорт</th>
    <th>Дата</th>
    <th>Срок действия</th>
    <th>Контактное лицо</th>
    <th>Телефон</th>
    <th>Должность</th>
    <th>Отдел</th>
    <th>Статус</th>
    <th>Редактировать</th>
    <th>Подтвердить</th>
    <th>Отклонить</th>
{% endblock %}

{% block trow %}

    <td>
        <a class="btn btn-default" href="new_request.html">Редактировать</a>
    </td>
    <td>
        <a class="btn btn-default">Подтвердить</a>
    </td>
    <td>
        <a class="btn btn-default">Отклонить</a>
    </td>
{% endblock %}

