{% extends "base_nav.html" %}
{% block title%}АСУ изготовления пропусков{% endblock %}


{% block nav_brand %}Подсистема принятия заявок{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="main1.1.html">Заявки</a></li>
    <li><a href="main1.2.html">Отделы и Должности</a></li>
{% endblock %}
{% block butn-before-table %}
    <h1>Форма заявки</h1>
{% endblock %}
{% block bodycontent %}
    <form action="/new_request" method="post">
         <table class="table table-responsive">
             {% csrf_token %}
             {{ form.as_table }}
         </table>
         <input type="submit" value="Сохранить" />
     </form>
{% endblock %}
