{% extends "base_nav.html" %}
{% block title%}АСУ изготовления пропусков{% endblock %}


{% block nav_brand %}Подсистема принятия заявок{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="/requestsystem/request_sys">Заявки</a></li>
    <li><a href="/requestsystem/departs">Отделы и Должности</a></li>
{% endblock %}
{% block butn-before-table %}
    <h1>Форма отдела</h1>
{% endblock %}
{% block bodycontent %}
    {% if name_of_url == 'depart' %}
        <form action="/requestsystem/department/{{ id }}/" method="post">
    {% endif %}
    {% if name_of_url == 'new_depart' %}
        <form action="/requestsystem/new_depart" method="post">
    {% endif %}
            <table class="table table-responsive">
                {% csrf_token %}
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit" />
     </form>
{% endblock %}
