{% extends "base_console.html" %}
{% block title %}АСУ изготовления пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="permit_system_requests.html">Заявки</a></li>
    <li><a href="permit_system_permits.html">Пропуска</a></li>
    <li><a href="permit_system_persons.html">Персоны</a></li>
{% endblock %}
{% block butn-before-table %}
    <h1>Форма персоны</h1>
{% endblock %}
{% block bodycontent %}
    <form>
		<div class="col-md-6">
		    <h5>Введите данные:</h5>
		    <h5>ФИО: <input type="text" class="form-control" placeholder="текст"></h5>
		    <h5>Паспорт: <input type="text" class="form-control" placeholder="серия"><input type="text" class="form-control" placeholder="номер"></h5>
		    <h5>Должность:
                <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                </select></h5>
		    <h5>Отдел:
                <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                </select></h5>
		    <h5>Срок действия: <input type="text" class="form-control" placeholder="text"></h5>
		    <input type="checkbox" value="active"> Активный доступ
		    <br/>
		    <br/>
            <a class="btn btn-default" href="{% url "new_person" 1 2 3  %}"> role="button">Сохранить</a>
		</div>
    </form>
{% endblock %}
