{% extends "base_nav.html"%}
{% block title  %}АСУ заявок и пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="/permit_sys_req">Заявки</a></li>
    <li><a href="/permit_sys_permits">Пропуска</a></li>
    <li><a href="/permit_sys_persons">Персоны</a></li>
{% endblock %}
{% block bodycontent %}
    <br/><br/><br/>
     <table>

        <tr>
            <td>Фамилия</td>
            <td>{{ permit.lastname }}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ permit.firstname }}</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>{{ permit.patronymic }}</td>
        </tr>
         <tr>
            <td>Должность</td>
            <td>{{ permit.position }}</td>
        </tr>
        <tr>
            <td>Отдел</td>
            <td>{{ permit.department }}</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td>{{ permit.type }}</td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>{{ permit.status }}</td>
        </tr>
        <tr>
            <td>Cрок действия</td>
            <td>{{ permit.end_date }}</td>
        </tr>

     </table>


{% endblock %}
