{% extends "base_console.html" %}
{% block title %}АСУ изготовления пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li ><a href="/permitsystem/permit_sys_req">Заявки</a></li>
    <li ><a href="/permitsystem/permit_sys_permits">Пропуска</a></li>
    <li class="active"><a href="/permitsystem/permit_sys_persons">Персоны</a></li>
{% endblock %}
{% block thead %}
    <th>№</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Должность</th>
    <th>Отдел</th>
    <th>Активный доступ</th>
    <th></th>
    <th></th>
    <th></th>

{% endblock %}
{% block trow %}
    {% for per in persons %}
    <tr >
            <td >{{ per.id }}</td>
            <td>{{ per.lastname }}</td>
            <td>{{ per.firstname }}</td>
            <td>{{ per.patronymic }}</td>
            <td>{{ per.position }}</td>
            <td>{{ per.department }}</td>
            {% if per.is_active %}
                <td>Активен</td>
            {% else %}
                <td>Нективен</td>
            {% endif %}
            <td><a class="btn btn-default" href='/permitsystem/permits_of_person/{{ per.id }}' role="button">Показать пропуск</a></td>
            <td><a class="btn btn-default" href='/permitsystem/person_delete/{{ per.id }}' role="button">Удалить</a></td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="12">нет персон</td>
        </tr>

    {% endfor %}
{% endblock %}
