{% extends "base_console.html" %}
{% block title %}АСУ изготовления пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li ><a href="/permitsystem/permit_sys_req">Заявки</a></li>
    <li ><a href="/permitsystem/permit_sys_permits">Пропуска</a></li>
    <li class="active"><a href="/permitsystem/permit_sys_persons">Персоны</a></li>
{% endblock %}
{% block thead %}
    <th>№</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Должность</th>
    <th>Отдел</th>
    <th>Активный доступ</th>
    <th>Редактировать</th>
    <th>Показать пропуск</th>
{% endblock %}
{% block trow %}
    {% for per in persons %}
    <tr >
            <td >{{ per.id }}</td>
            <td>{{ per.lastname }}</td>
            <td>{{ per.firstname }}</td>
            <td>{{ per.patronymic }}</td>
            <td>{{ per.position }}</td>
            <td>{{ per.department }}</td>
            <td>{{ per.is_active }}</td>
            <td><a class="btn btn-default" href="/permitsystem/person.html" role="button">Редактировать</a></td>
            <td><a class="btn btn-default" href="permits_of_person.html" role="button">Показать пропуск</a></td>td>
            <td><a class="btn btn-default" href="person_delete.html" role="button">Удалить</a></td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="12">нет персон</td>
        </tr>

    {% endfor %}
{% endblock %}
