{% extends "base_console.html" %}
{% block title %}АСУ изготовления пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="/permitsystem">Заявки</a></li>
    <li><a href="/permitsystem/permit_sys_permits">Пропуска</a></li>
    <li><a href="/permitsystem/permit_sys_persons">Персоны</a></li>
{% endblock %}
{% block thead %}
    <th>№</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Должность</th>
    <th>Отдел</th>
    <th>Дата</th>
    <th>Статус</th>
    <th>Действие</th>

{% endblock %}

{% block trow %}
    {% for req in requests %}
    <tr >

            <td style="cursor: pointer" onclick="window.location.replace('/permitsystem/permit_sys_сontrol/{{ req.id }}/show')">{{ req.id }}</td>
            <td>{{ req.lastname }}</td>
            <td>{{ req.firstname }}</td>
            <td>{{ req.patronymic }}</td>
            <td>{{ req.position }}</td>
            <td>{{ req.department }}</td>
            <td>{{ req.registration_date}}</td>
            <td>{{ req.status }}</td>
            <td>        <!--DOMAIN LOGIC-->
                <a class="btn btn-default" href= '/permitsystem/permit_sys_control/{{ req.id }}/createtemp' >Создать временный пропуск</a>
                <a class="btn btn-default" href= '/permitsystem/permit_sys_control/{{ req.id }}/createcont'>Создать постоянный пропуск</a>
            </td>

    </tr>
    {% empty %}
        <tr>
            <td colspan="6">нет активных заявок</td>
        </tr>

    {% endfor %}
{% endblock %}
