{% extends "base_nav.html"%}
{% block title  %}АСУ заявок и пропусков{% endblock %}
{% block nav_brand %}Подсистема подготовки пропусков{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="/permitsystem/permit_sys_req">Заявки</a></li>
    <li><a href="/permitsystem/permit_sys_permits">Пропуска</a></li>
    <li><a href="/permitsystem/permit_sys_persons">Персоны</a></li>
{% endblock %}
{% block bodycontent %}
    <br/><br/><br/>



     <form action="/permitsystem/person/{{ person.id }}" method="post">
         <table class="table table-responsive">
             {% csrf_token %}
             {{ form.as_table }}
         </table>
         <input type="submit" value="Сохранить" />
     </form>


{% endblock %}
