{% extends "base_console.html" %}
{% block title%}АСУ изготовления пропусков{% endblock %}
 

{% block nav_brand %}Подсистема принятия заявок{% endblock %}
{% block navbar-menu %}
    <li class="active"><a href="/request_sys">Заявки</a></li>
    <li><a href="/depart">Отделы и Должности</a></li>
{% endblock %}
{% block butn-before-table %}
	<a class="btn btn-default" href="/new_request" role="button">Добавить заявку</a>
{% endblock %}
{% block thead %}
    <th>№</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Дата</th>
    <th>Должность</th>
    <th>Отдел</th>
    <th>Статус</th>
    <th>Подтвердить</th>
    <th>Отклонить</th>
{% endblock %}

{% block trow %}
    {% for req in requests %}
    <tr >

            <td style="cursor: pointer" onclick="window.location.replace('/request/{{ req.id }}/')">{{ req.id }}</td>
            <td>{{ req.firstname }}</td>
            <td>{{ req.lastname }}</td>
            <td>{{ req.patronymic }}</td>
            <td>{{ req.registration_date}}</td>
            <td>{{ req.position }}</td>
            <td>{{ req.department }}</td>
            <td>{{ req.status }}</td>
            <td>        <!--DOMAIN LOGIC-->
                <a class="btn btn-default" href= '/request_proceed/{{ req.id }}/1'>Подтвердить</a>
            </td>
            <td style="cursor: pointer" onclick="window.location.replace('/request_proceed/{{ req.id }}/2')">
                <a class="btn btn-default">Отклонить</a>
            </td>
            <td>
                <a class="btn btn-default" href= '/request_proceed/{{ req.id }}/3'>Удалить</a>
            </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="6">We have no active requests </td>
        </tr>

    {% endfor %}
{% endblock %}

