<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="utf-8">
    <title>АСУ</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<style type="text/css">
		.tabbable {
			padding-top: 60px;
			padding-left: 30px;
			padding-right: 20px;
		}
    </style>
  </head>
 
  <body> <!-- Верхнее меню -->
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="navbar-brand" href="#">АСУ изготовления пропусков</a>
			<p class="navbar-text pull-right">
              Авторизованы как <a href="#" class="navbar-link">Username</a>
			  <a href="#" class="navbar-link"> (Выход) </a>
            </p>
        </div>
      </div>
    </div>
	
	<br/>
	
	<div class="tabbable"> 
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab" style="color:#333">Заявки</a></li>
			<li><a href="#tab2" data-toggle="tab" style="color:#333">Отделы и должности</a></li>
			<li><a href="#tab3" data-toggle="tab" style="color:#333">Пропуска</a></li>
			<li><a href="#tab4" data-toggle="tab" style="color:#333">Персоны</a></li>
		</ul>
					
		<div class="tab-content">
			<div class="tab-pane active" id="tab1"> <!-- Заявки -->
				<br/>

				<button type="button" class="btn" data-toggle="modal" data-target="#myModal1">Новая заявка</button>
				
				<!-- Всплывающее окно заявки -->
				<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel1">Заявка</h4>
					  </div>
					  <div class="modal-body">
						  <h5>Введите данные:</h5>
						  <h5>ФИО: <input type="text" class="form-control" placeholder="текст"></h5>
						  <h5>Паспорт: <input type="text" class="form-control" placeholder="серия"><input type="text" class="form-control" placeholder="номер"></h5>
						  <h5>Срок действия: <input type="text" class="form-control" placeholder="text"></h5>
						  <h5>Контактное лицо: <input type="text" class="form-control" placeholder="text"></h5>
						  <h5>Телефон: <input type="text" class="form-control" placeholder="text"></h5>
						  <h5>Должность: 
						  <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select></h5>
						  <h5>Отдел: 
						  <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select></h5>
						  <h5>Дата регистрации: </h5><input type="text" class="form-control" placeholder="text">
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-small" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn btn-small">Сохранить</button>
					  </div>
					</div>
				  </div>
				</div>
								
				<br/><br/>
				<table class="table table-hover table-condensed">
					 <thead>
						<tr class="active">
						  <th>№</th>
						  <th>ФИО</th>
						  <th>Паспорт</th>
						  <th>Дата</th>
						  <th>Срок действия</th>
						  <th>Контактное лицо</th>
						  <th>Телефон</th>
						  <th>Должность</th>
						  <th>Отдел</th>
						  <th>Статус</th>
						  <th>Редактировать</th>
						  <th>Подтвердить</th>
						  <th>Отклонить</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>...</td>
						  <td>...</td>
						  <td>...</td>
						  <td>...</td>
						  <td>...</td>
						  <td>...</td>
						  <td>...</td>
						  <td>
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select>
						  </td>
						  <td>
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select>
						  </td>
						  <td>
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select>
						  </td>
						  <td>
							<button type="button" class="btn btn-small" data-toggle="modal" data-target="#myModal1">Редактировать</button>
						  </td>
						  <td>
							<button class="btn btn-small" type="button">Подтвердить</button>
						  </td>
						  <td>
							<button class="btn btn-small" type="button">Отклонить</button>
						  </td>
						</tr>
					  </tbody>
				</table>
			</div>
			
			<div class="tab-pane" id="tab2"> <!-- Отделы -->
				<br/>
				<!-- Всплывающее окно отдела -->
				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel2">Должность</h4>
					  </div>
					  <div class="modal-body">
						  <h5>Введите данные:</h5>
						  <h5>Отдел: <input type="text" class="form-control" placeholder="текст"></h5>
						  <h5>Руководитель отдела: <input type="text" class="form-control" placeholder="текст"></h5>
						  <h5>Телефон отдела: <input type="text" class="form-control" placeholder="текст"></h5>
						  <h5>Должность: <input type="text" class="form-control" placeholder="текст"></h5>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-small" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn btn-small">Сохранить</button>
					  </div>
					</div>
				  </div>
				</div>
				
				<table class="table table-hover table-condensed">
					 <thead>
						<tr class="active">
						  <th>Отдел</th>
						  <th>Руководитель отдела</th>
						  <th>Телефон отдела</th>
						  <th>Должность</th>
						  <th>Редактировать</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>Отдел 1</td>
						  <td>Иванов</td>
						  <td>123</td>
						  <td>Начальник отдела</td>
						  <td>
							<button type="button" class="btn" data-toggle="modal" data-target="#myModal2">Редактировать</button>
						  </td>
						</tr>
						<tr>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td>Секретарь</td>
						  <td>
							<button type="button" class="btn" data-toggle="modal" data-target="#myModal2">Редактировать</button>
						  </td>
						</tr>
					  </tbody>
				</table>
			</div>

			<div class="tab-pane" id="tab3"> <!-- Пропуска -->
				<br/>
							
				<table class="table table-hover table-condensed">
					 <thead>
						<tr class="active">
						  <th>ФИО</th>
						  <th>Должность</th>
						  <th>Отдел</th>
						  <th>Срок действия</th>
						  <th>Статус</th>
						  <th>Редактировать</th>
						  <th>Печать пропуска</th>
						  <th>Печать разового пропуска</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>...</td>
						  <td>
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select>
						  </td>
						  <td>
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select>
						  </td>
						  <td>...</td>
						  <td>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Статус
								<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
							  </ul>
							</div>
						  </td>
						  <td>
							<button type="button" class="btn" data-toggle="modal" data-target="#myModal3">Редактировать</button>
						  </td>
						  <td>
							<button type="button" class="btn" data-toggle="modal" data-target="#myModal3">Печать</button>
						  </td>
						  <td>
							<button type="button" class="btn" data-toggle="modal" data-target="#myModal3">Печать разового</button>
						  </td>
						</tr>
					  </tbody>
				</table>		
			</div>
			
			<div class="tab-pane" id="tab4"> <!-- Персоны -->
				<br/>
				<div class="row">
				  <div class="col-lg-6">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Поиск...">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button">Найти!</button>
					  </span>
					</div>
				  </div>
				</div>
				<br/>
				<table class="table table-hover table-condensed">
					 <thead>
						<tr class="active">
						  <th>ФИО</th>
						  <th>Паспорт</th>
						  <th>Должность</th>
						  <th>Отдел</th>
						  <th>Срок действия</th>
						  <th>Активный доступ</th>
						  <th>Редактировать</th>
						  <th>Показать пропуск</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>...</td>
						  <td>...</td>
						  <td>
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select>
						  </td>
						  <td>
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
						  </td>
						  <td>...</td>
						  <td align="center">
							<label class="checkbox">
							  <input type="checkbox" value="active">  
							</label>
						  </td>
						  <td>
							<button type="button" class="btn" data-toggle="modal" data-target="#myModal4">Редактировать</button>
						  </td>
						  <td>
							<button type="button" class="btn" data-toggle="modal" data-target="#myModal3">Показать пропуск</button>
						  </td>
						</tr>
					  </tbody>
				</table>
				
				<!-- Всплывающее окно персоны -->
				<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel4">Персона</h4>
					  </div>
					  <div class="modal-body">
						  <h5>Введите данные:</h5>
						  <h5>ФИО: <input type="text" class="form-control" placeholder="текст"></h5>
						  <h5>Паспорт: <input type="text" class="form-control" placeholder="серия"><input type="text" class="form-control" placeholder="номер"></h5>
						  <h5>Должность: 
						  <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select></h5>
						  <h5>Отдел: 
						  <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							</select></h5>
						  <h5>Срок действия: <input type="text" class="form-control" placeholder="text"></h5>
						  <input type="checkbox" value="active"> Активный доступ 
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-small" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn btn-small">Сохранить</button>
					  </div>
					</div>
				  </div>
				</div>
			</div>
			
			<!-- Всплывающее окно пропуска -->
					<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel3">Пропуск</h4>
						  </div>
						  <div class="modal-body">
							  <h5>Введите данные:</h5>
							  <h5>ФИО: <input type="text" class="form-control" placeholder="текст"></h5>
							  <h5>Паспорт: <input type="text" class="form-control" placeholder="серия"><input type="text" class="form-control" placeholder="номер"></h5>
							  <h5>Должность: 
							  <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								</select></h5>
							  <h5>Отдел: 
							  <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								</select></h5>
							  <h5>Срок действия: <input type="text" class="form-control" placeholder="text"></h5>
							  <h5>Статус: 
								<select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
							   </select></h5>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn" data-dismiss="modal">Закрыть</button>
							<button type="button" class="btn">Печать</button>
							<button type="button" class="btn">Сохранить</button>
						  </div>
						</div>
					  </div>
					</div>
			
		</div>
	</div>	

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

